/* Google font link start */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Google font link close */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  padding: 0;
}

/* Banner section style start */
.banner{
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  min-height: 600px;
  margin: 130px auto;
  border-radius: 16px;
  background:  rgba(0, 0, 0, .4);
  background-image: url(images/Banner\ Image.png);
  background-blend-mode: overlay;
  
}
.banner-content{
  color: white;
  height: 600px;
  padding: 190px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content p{
  font-size: 28px;
  font-weight: 400px;

}
.banner-content h3{
  font-size:70px;
  font-weight: bold;
}
/* Banner section style close */


/* off section style start */
.off-container{
  width: 802.9px;
  height: 785px;
  margin: auto auto;
  text-align: center;
}
.off-container h2{
  font-size: 80px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  margin-bottom:40px;
}
.off-container p{
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 0, 0);
  margin-bottom:20px;
}
.off-container h4{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  margin-bottom:47px;
}
.off-container img{
  ma
}
/* off section style close */